{% load static %}
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Akasq Project, (c) {% now 'Y' %}</span>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'vendor/jquery/jquery.slim.min.js' %}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"><\/script>')</script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>
